.my-order{
    width: 600px;
    height: calc( auto - 64px);
    top: 64px;
    overflow: auto; 
    border: 1px solid;
    position: absolute;}
.pay-button{
    border: 1px solid rgba(255, 253, 253, 0);
    transition:all .2s ease-in-out;
    overflow:hidden;}
.pay-button:hover{
    border:1px solid white;
    font-size:20px;
  }